{% extends 'network_monitor/layout.html' %}
{% block title %}Network Monitor{% endblock title %}
{% block content %}

<style>
    .check-data {
        {% if network_monitor.count %}{% else %}display:none{% endif %}
    }
</style>
<div class="flex flex-col gap-10 justify-between">
  <h1 class="text-2xl text-center">Network Monitor {% if request.user.is_authenticated %}| {{ request.user.username }} {% endif %}</h1>
  
  <div>
    <table class="table {% if request.user.is_authenticated %}table-xs{% endif %} md:table-md xl:table-lg check-data" id="networkTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>URL</th>
          <th>Status</th>
          <th>Latency</th>
        </tr>
      </thead>
      <tbody>
        {% for i in network_monitor %}
        <tr id="row-{{ i.id }}">
          <th>{{ i.id }}</th>
          <td>{{ i.name }}</td>
          <td>{{ i.url }}</td>
          <td id="status-{{ i.id }}" class="{% if i.status == '200' %}text-green-500{% else %}text-red-500{% endif %}">{{ i.status }}</td>
          <td id="latency-{{ i.id }}" class="{% if i.latency == '9999 ms' %} text-red-500{% endif %}">{{ i.latency }}</td>
        </tr>
        {% endfor %}
      </tbody> 
    </table>
    {% if request.user.is_authenticated %}
    <div class="divider">
      <button class="btn btn-primary" onclick="addForm.showModal()">
        เพิ่มข้อมูล
      </button> 
    </div>
    {% endif %}
  </div>

</div>


<script>
  // Function to update individual table cells
  const updateTableCells = (id, status, latency) => {
    const statusCell = document.getElementById(`status-${id}`);
    const latencyCell = document.getElementById(`latency-${id}`);
    
    statusCell.textContent = status;
    statusCell.className = status === '200' ? 'text-green-500' : 'text-red-500';
    
    latencyCell.textContent = latency;
    latencyNumber = latency.split(' ms')[0];
    if( latencyNumber <= 1200 ){
      latencyCell.className = 'text-green-500'
    }
    else if(status === '502' || status === '404' || status === '500'){
      latencyCell.className = 'text-red-500'
    }
    else {
      latencyCell.className = 'text-yellow-500'
    }
  };

  // Function to fetch and update the table data
  const updateTableData = () => {
    fetch("{% url 'network_monitor:table_data' %}")
      .then(response => response.json())
      .then(data => {
        data.forEach(entry => {
          updateTableCells(entry.id, entry.status, entry.latency);
        });
      });
  };

  // Initial table data update
  updateTableData();

  // Refresh table data every 1 minute
  setInterval(updateTableData, 1000);
</script>

{% endblock content %}